# Visual Studio Code
.vscode/
.vscode/*.json
.vscode/*.code-workspace

# Compiled output
out/
dist/
build/

# Dependency directories
node_modules/
bower_components/

# macOS
.DS_Store

# Windows
Thumbs.db